
<h2><%= @artwork.name %></h2>
<h3>By: <%= link_to @artwork.artist.name, artist_path(@artwork.artist) %></h3>
<br>

<%= link_to "Delete", @artwork, method: :delete %>
<br>
<%= link_to 'Home', artists_path %>
<br>
